body {
  margin: 0 0;
  padding: 0 0;
  background-color: #181818;
}
ul,
li {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}
#nav {
  border-bottom: 1px solid #303030;
  height: 4.125rem;
}
#nav .logo {
  float: left;
  margin: 1rem 0 0 7rem;
}
#nav .logo img {
  height: 2rem;
  width: 3.125rem;
}
#nav .navPc {
  float: right;
  margin-right: 5.125rem;
  position: relative;
  border: none;
  display: flex;
  list-style: none;
  line-height: 4.125rem;
}
#nav .navPc li {
  margin: 0px;
}
#nav .navPc li a {
  width: 6.5rem;
  height: 4.125rem;
  position: relative;
  text-align: center;
  line-height: 4.125rem;
  font-size: 1rem;
  border: none;
  color: #8c8c8c;
  display: inline-block;
  text-decoration: none;
  z-index: 3;
}
#nav .navPc li .active {
  color: #FFFFFF;
}
#nav .slide1 {
  background-color: #29af9e;
  z-index: 2;
}
#nav .slide2 {
  opacity: 0;
  background: #fff;
  z-index: 1;
}
#nav .slide1,
#nav .slide2 {
  position: absolute;
  display: inline-block;
  height: 2.0625rem;
  top: 1rem;
  border-radius: 0.9375rem;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1.05);
}
#nav .squeeze {
  transition: all 0.5s;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
#nav *,
#nav *::before,
#nav *::after {
  box-sizing: border-box;
}
#bottom_bg {
  height: 6.75rem;
  background-color: #191919;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
#bottom_bg .mob_logo {
  display: inline-block;
  width: 100%;
  line-height: 6.75rem;
  text-align: center;
  background-color: #191919;
}
#wrapper .nav li span {
  display: inline-block;
  height: 0.625rem;
  width: 1.5rem;
  background-color: #6e6e6e;
  margin: 0 1.6rem 0 2.6rem;
}
#wrapper .nav li .active {
  background-color: #32cba9;
  border-radius: 0;
}
#page-content-wrapper {
  padding: 0 0;
  position: relative;
}
#page-content-wrapper .hamburger {
  position: fixed;
  background-color: #191919;
  top: 40px;
  height: 2rem;
  margin-top: -1rem;
}
#page-content-wrapper .mob_logo {
  display: inline-block;
  width: 100%;
  line-height: 6.75rem;
  text-align: center;
  background-color: #191919;
}
#content {
  margin-top: 54px;
}
#content .decc_logo {
  margin-left: 5rem;
}
#app {
  margin-top: 54px;
}
#app .tab_img div {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
#app .tab_content {
  color: #FFFFFF;
}
#app .tab_content .title {
  height: 500px;
  background-color: #373737;
}
#app .tab_content .title div {
  background-color: #303030;
  padding: 30px 0 30px 60px;
  font-size: 2rem;
  letter-spacing: 8px;
  position: relative;
}
#app .tab_content .title div i {
  display: inline-block;
  width: 8px;
  height: 38px;
  position: absolute;
  background-color: #29af9e;
  top: 50%;
  margin-top: -19px;
  left: 34px;
}
#app .tab_content .title span {
  display: inline-block;
  width: 100%;
  padding: 0 34px 30px 34px;
  color: #727272;
  text-align: justify;
  font-size: 1.45rem;
  line-height: 36px;
}
#app .tab_menu ul {
  position: relative;
  margin-left: 100px;
}
#app .tab_menu ul li {
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 54px;
  cursor: pointer;
  font-size: 1.5rem;
}
#app .tab_menu ul li p {
  position: relative;
  display: inline-block;
  width: auto;
  z-index: 10;
}
#app .tab_menu ul li i {
  display: inline-block;
  position: absolute;
  height: 0.35rem;
  width: 0;
  bottom: 4px;
  opacity: 1;
  margin-left: -10px;
  z-index: -10;
}
#app .tab_menu .active {
  background: #29af9e;
  width: 122%;
}
#contact_us ul {
  margin-top: 89px;
}
#contact_us ul li {
  margin: 0 0 1.3rem 5rem;
  color: #939393;
}
address {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.75rem;
  margin-bottom: 0;
  text-align: center;
  line-height: 4.75rem;
  color: #8c8c8c;
}
address span {
  display: inline-block;
  margin-right: 1rem;
}
address span a {
  color: #8c8c8c;
}
address span a:hover {
  color: #8c8c8c;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #nav {
    display: none;
  }
  .decc_logo {
    display: none;
  }
  #content {
    margin: 0 0;
  }
  #content .text {
    margin: 0 0;
  }
  #content .text .row .ab_left {
    height: 260px;
    overflow: hidden;
    margin-top: 80px;
  }
  #content .text .row .ab_left img {
    width: 100%;
    height: 100%;
    margin: 5% 0 0 -20%;
  }
  #content .text .row .ab_left .ro_logo {
    width: 100px;
    height: 55px;
    position: absolute;
    margin-left: 5%;
    top: 60%;
  }
  #content .text .row .ab_right {
    display: none;
  }
  #content .text .row .ab_right_mobile {
    text-align: left;
    padding: 0 0 1px 0;
    background-color: #2a2a2a;
  }
  #content .text .row .ab_right_mobile h3 {
    text-align: center;
    color: #FFFFFF;
  }
  #content .text .row .ab_right_mobile .about_decc {
    background-color: #373737;
    color: #9e9e9e;
    padding-top: 1px;
  }
  #content .text .row .ab_right_mobile .about_decc span {
    display: inline-block;
    line-height: 4.25rem;
    padding: 0 1.5625rem;
  }
  #content .text .row .ab_right_mobile .square {
    display: block;
    margin: 25px auto;
    width: 44px;
    height: 10px;
    background-color: #29af9e;
  }
  #app {
    padding: 0 0;
  }
  #app .row {
    margin: 0 0;
  }
  #app .row .tab_img {
    padding: 0 0;
  }
  #app .row .tab_content {
    padding: 0 0;
    background-color: #2a2a2a;
    padding-bottom: 20px;
  }
  #app .row .tab_content i {
    display: block;
    margin: 0 auto;
    width: 44px;
    height: 8px;
    background-color: #29af9e;
  }
  #app .row .tab_content .title {
    background-color: #2a2a2a;
    margin-bottom: 20px;
    height: auto;
    width: 100%;
  }
  #app .row .tab_content .title div {
    padding-left: 0;
    text-align: center;
  }
  #app .row .tab_content .title div i {
    display: none;
  }
  #app .row .tab_content .title span {
    text-align: center;
    background-color: #373737;
  }
  #app .row .tab_content .title span i {
    display: inline-block;
    width: 44px;
    height: 8px;
    background-color: #29af9e;
  }
  #app .row .tab_menu {
    display: none;
  }
  #app .row .mobile_menu {
    height: 50px;
    width: 100%;
    background-color: #2a2a2a;
    position: fixed;
    top: 80px;
    z-index: 100;
    color: #FFFFFF;
  }
  #app .row .mobile_menu div {
    height: 50px;
    line-height: 50px;
  }
  #app .row .mobile_menu i {
    list-style: none;
    display: block;
    padding-left: 25px;
    float: left;
    font-size: 1.45rem;
  }
  #app .row .mobile_menu span {
    height: 50px;
    line-height: 50px;
    display: block;
    float: right;
    text-align: right;
    padding-right: 25px;
  }
  #app .row .mobile_menu ul li {
    display: none;
    background-color: #000000;
    opacity: 0.6;
    height: 50px;
    margin: 2px 0;
    line-height: 50px;
    text-align: center;
  }
  #app .row .mobile_menu ul .active {
    display: none;
  }
  address {
    display: none;
  }
  #contact_us {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #bottom_bg,
  #wrapper {
    display: none;
  }
  #content .text .row .ab_right_mobile {
    display: none;
  }
  #app .mobile_menu {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1099px) {
  #bottom_bg,
  #wrapper {
    display: none;
  }
  #content .text .row .ab_right_mobile {
    display: none;
  }
  #app .mobile_menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #bottom_bg,
  #wrapper {
    display: none;
  }
  #content .text .row .ab_right_mobile {
    display: none;
  }
  #app .mobile_menu {
    display: none;
  }
}
